<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Error!</h1>
    <p>Sorry problem occered, We are fixing it, please try again leter!</p>

<%- include('includes/end.ejs') %>